<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=226709867039367"
        nonce="IRf0F1xg"></script>

    <div class="fb-comments" data-href="https://luyenthi.onrender.com/index" data-width="" data-numposts="5"></div>
</body>

</html>