<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Liên kết Bootstrap từ CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Biểu mẫu quản lý điểm</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Quản lý ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
          </form> -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Admin <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-link">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng xuất</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- Tạo bảng với Bootstrap -->
        <h2 class="text-center col-sm-12 mt-2 mb-5 border bg-info text-white">Thống Kê Lượt Truy Cập</h2>
        <h1></h1>
        <div class="row text-center">

            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">20</h2>
                        <p class="card-header font-weight-bold">Lượt làm bài</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">8</h2>
                        <p class="card-header font-weight-bold">Tổng môn học</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">32</h2>
                        <p class="card-header font-weight-bold">Tổng đề</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Liên kết Bootstrap JS từ CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>